body{
  font-size: 13px;
  background: #ad9e94;
}
/*header*/
.header {
    position: relative;
    z-index: 2;
    width: 40%;
}
.izpardosana {
    background: #00aeef;
    color: white;
    font-size: 4rem;
    z-index: 1;
}
.atlaides_bubble{
    background: #ffc20e;
    height: 200px;
    width: 200px;
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    top: 0;
}
/*elementi*/
.bubble {
    background: #ed1c24;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 1px #00000024;
}
.elements {
    width: 200px;
    box-shadow: 2px 2px 1px #00000024;
    position: relative;
    float: left;
    margin: 10px;
    background: white;
}
.bilde{
  width: 100%;
}
.centrs {
    width: 100%;
    height: 600px;
    padding: 30px;
}
.text {
    line-height: 1;
    display: inline-grid;
    padding-top: 20px;
    color: white;
}
.atlaide {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 28px;
}
.new_cena {
    line-height: 30px;
    font-size: 1.6rem;
}
.old_cena {
    text-decoration: line-through;
    font-size: 1.1rem;
    line-height: 15px;
}
