body{
  font-size: 13px;
}
/*header*/

/*elementi*/
.bubble {
    background: #13c5ec;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 1px #00000024;
}
.elements {
    width: 210px;
    box-shadow: 2px 2px 1px #00000024;
    position: absolute;
    background: white;
}
.bilde{
  width: 100%;
}
.centrs {
    width: 100%;
    background: #ad9e94;
    height: 600px;
    padding: 30px;
}
.text {
    line-height: 1;
    display: inline-grid;
    padding-top: 20px;
    color: white;
}
.atlaide {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 28px;
}
.new_cena {
    line-height: 30px;
    font-size: 1.6rem;
}
.old_cena {
    text-decoration: line-through;
    font-size: 1.1rem;
    line-height: 15px;
}
