.centrs{
  width: 100%
}
#new_cena{
border: 1px solid red;
}
.atlaide{
    background: #13c5ec;
    width: 50px;
    height: 49px;
    position: absolute;
    right: 0;
    border-radius: 50px;
    color: white;
    padding: 10px;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
}
.elements{
    position: absolute;
}
