body{
  font-size: 13px;
}
.bubble{
    background: #13c5ec;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}
.elements{
    position: absolute;
}
.centrs{
    width: 100%;
    background: whitesmoke;
    width: 1200px;
    height: 600px;
    padding: 30px;
}
.atlaide{
  font-size: 2.5rem;
}
.new_cena{
    font-size: 1.7rem;
}
.old_cena {
    text-decoration: line-through;
    font-size: 1.2rem;
}
